Used to search for files that match a specified pattern.

In [24]:
!pip install pandas
import pandas as pd
import numpy as np
import glob

Requirement already satisfied: pandas in c:\users\acer\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2023.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

Xiao Hei Cleaning

In [25]:
# Load the qrels file
qrels_file_path = 'qrels.trec8.adhoc.csv'
qrels_df = pd.read_csv(qrels_file_path, sep=' ', header=None, names=['query_id', 'ignore', 'doc_id', 'relevance'])

#show qrels_dataframe
qrels_df.head()
print(qrels_df.columns)

Index(['query_id', 'ignore', 'doc_id', 'relevance'], dtype='object')

In [26]:
# Get a list of all CSV files in the input directory
input_files = glob.glob('input/*.csv')

# Create an empty list to store the input files dataframes
input_dfs = []

# Loop through each input CSV file
for filename in input_files:
    # Read the input CSV file into a dataframe
    df = pd.read_csv(filename, sep='\t', header=None)
    # Append the dataframe to the list of dataframes
    input_dfs.append(df)
    
raw_data = pd.concat(input_dfs, ignore_index=True)
print('Shape of raw_data:', raw_data.shape)

############################################## Data cleaning ##############################################

# Loop through each input dataframe and filter out rows where does not meet the clean up requirement
# 1. data_id  is not present in qrels_data_ids
# 2. relevant_score equal to 0
# 3. duplicate ranking

# Extract the valid values from the third column of qrels_df
qrels_data_ids = set(qrels_df.iloc[:, 2])

cleaned_dfs = []

for df in input_dfs:
    # Get rows where the data id is present in the qrels data ids
    df_with_present_data_id = df.iloc[:, 2].isin(qrels_data_ids)
    
    # Get rows where relevant_score does not equal 0
    df_with_relevant_score_not_zero = df.iloc[:, 4] != 0
    
    # Combine targeted rows for first and second rule
    cleaned_df = df[df_with_present_data_id & df_with_relevant_score_not_zero]

    # Get rows where ranking is not duplicated
    cleaned_df = cleaned_df.drop_duplicates(subset=[4])
    cleaned_dfs.append(cleaned_df)

# Print the shape of the cleaned data
print("this is input data:", cleaned_dfs)

Shape of raw_data: (689266, 6)
this is input data: [         0   1              2    3             4           5
0      401  Q0     FT924-5091    0  10015.175781  acsys8aln2
1      401  Q0    FBIS3-39240    1  10014.111328  acsys8aln2
2      401  Q0     FT924-4470    2  10013.638672  acsys8aln2
3      401  Q0    FBIS4-18182    3  10013.591797  acsys8aln2
4      401  Q0    FBIS3-59055    4  10013.441406  acsys8aln2
...    ...  ..            ...  ...           ...         ...
49910  450  Q0    FBIS3-12998  910  10012.927734  acsys8aln2
49922  450  Q0  LA100890-0074  922  10012.846680  acsys8aln2
49934  450  Q0    FBIS4-59198  934  10012.767578  acsys8aln2
49961  450  Q0    FBIS4-58516  961  10012.646484  acsys8aln2
49968  450  Q0    FBIS4-37789  968  10012.623047  acsys8aln2

[12367 rows x 6 columns],          0   1            2    3       4         5
0      401  Q0   FT942-5121    2  8.3846  apl8c621
2      401  Q0   FT924-7558    3  6.6410  apl8c621
3      401  Q0  FT931-10513    4  5.9905  apl8c621
4      401  Q0   FT944-6909    5  5.4853  apl8c621
5      401  Q0   FT924-4344    6  5.3936  apl8c621
...    ...  ..          ...  ...     ...       ...
49864  450  Q0  FBIS4-58518  865  0.3512  apl8c621
49900  450  Q0  FBIS4-12893  901  0.3145  apl8c621
49901  450  Q0   FT944-1732  902  0.3141  apl8c621
49971  450  Q0   FT942-4898  972  0.2461  apl8c621
49989  450  Q0  FT921-13650  990  0.2331  apl8c621

[17558 rows x 6 columns],          0   1            2     3          4         5
0      401  Q0  FT922-14939     1  19.609444  att99ate
1      401  Q0  FT922-10801     2  18.003141  att99ate
2      401  Q0  FT922-15552     3  17.388166  att99ate
3      401  Q0  FBIS3-20090     4  17.340698  att99ate
4      401  Q0  FT922-10979     5  17.248894  att99ate
...    ...  ..          ...   ...        ...       ...
49987  450  Q0   FBIS4-6284   988  21.010160  att99ate
49988  450  Q0  FBIS3-14183   989  21.002539  att99ate
49989  450  Q0  FBIS3-52743   990  20.998537  att99ate
49992  450  Q0  FBIS3-54545   993  20.983173  att99ate
49999  450  Q0    FT911-305  1000  20.936275  att99ate

[28924 rows x 6 columns],          0   1            2     3     4       5
0      401  Q0  FBIS3-24653    29  75.0  disco1
2      401  Q0     FBIS3-29    45  72.0  disco1
12     401  Q0     FBIS3-23    69  69.0  disco1
21     401  Q0  FBIS4-44661    89  66.0  disco1
27     401  Q0  FBIS3-24678   113  63.0  disco1
...    ...  ..          ...   ...   ...     ...
13890  420  Q0  FBIS3-20587  2085   8.0  disco1
22732  432  Q0  FBIS3-61122   155  22.0  disco1
22770  432  Q0  FBIS3-21056   278  13.0  disco1
22853  433  Q0  FBIS3-24653     6  86.0  disco1
26853  437  Q0     FBIS3-23     4  94.0  disco1

[89 rows x 6 columns],          0   1              2    3             4          5
0      401  Q0     FBIS4-9582    1  21885.191406  Flab8atd2
1      401  Q0    FBIS4-18182    2  20682.982422  Flab8atd2
2      401  Q0    FBIS4-62200    3  19856.041016  Flab8atd2
3      401  Q0    FBIS4-54440    4  19504.779297  Flab8atd2
4      401  Q0    FBIS3-20090    5  19278.716797  Flab8atd2
...    ...  ..            ...  ...           ...        ...
49986  450  Q0    FBIS3-54176  987  20232.542969  Flab8atd2
49992  450  Q0  LA020589-0068  993  20157.544922  Flab8atd2
49994  450  Q0  LA082190-0087  995  20133.226562  Flab8atd2
49995  450  Q0     FT934-4868  996  20130.666016  Flab8atd2
49998  450  Q0    FBIS3-52453  999  20114.148438  Flab8atd2

[30880 rows x 6 columns],          0   1              2     3         4        5
0      401  Q0    FT932-10861     1  0.437877  GE8ATD3
1      401  Q0     FT932-5884     2  0.423162  GE8ATD3
2      401  Q0     FT911-1796     3  0.422083  GE8ATD3
3      401  Q0     FT924-3663     4  0.421939  GE8ATD3
4      401  Q0  LA091490-0080     5  0.421367  GE8ATD3
...    ...  ..            ...   ...       ...      ...
49982  450  Q0    FBIS4-11925   983  0.419298  GE8ATD3
49989  450  Q0    FBIS4-12110   990  0.419265  GE8ATD3
49993  450  Q0  LA101090-0098   994  0.419246  GE8ATD3
49997  450  Q0    FBIS3-53299   998  0.419233  GE8ATD3
49999  450  Q0    FBIS3-52841  1000  0.419224  GE8ATD3

[15404 rows x 6 columns],          0   1              2    3         4        5
0      401  Q0    FBIS3-17077    0  0.874967  ibms99a
1      401  Q0    FBIS4-55036    1  0.816535  ibms99a
2      401  Q0    FBIS4-18182    2  0.764794  ibms99a
3      401  Q0     FBIS3-4201    3  0.703543  ibms99a
4      401  Q0    FBIS4-66148    4  0.670180  ibms99a
...    ...  ..            ...  ...       ...      ...
49982  450  Q0    FT941-17740  982  0.342755  ibms99a
49984  450  Q0  LA083090-0078  984  0.342602  ibms99a
49992  450  Q0  LA101290-0010  992  0.341578  ibms99a
49995  450  Q0    FT941-10101  995  0.341361  ibms99a
49999  450  Q0    FBIS4-58796  999  0.341166  ibms99a

[30766 rows x 6 columns],          0   1              2     3         4       5
0      401  Q0     FT911-1796     1  0.461869  INQ601
1      401  Q0    FBIS4-55036     2  0.446217  INQ601
2      401  Q0    FBIS3-18916     3  0.444678  INQ601
3      401  Q0    FBIS3-18833     4  0.442222  INQ601
4      401  Q0    FBIS3-17077     5  0.441394  INQ601
...    ...  ..            ...   ...       ...     ...
49981  450  Q0    FBIS4-13611   982  0.434299  INQ601
49989  450  Q0  LA080690-0031   990  0.434257  INQ601
49991  450  Q0     FT921-6607   992  0.434236  INQ601
49994  450  Q0     FT931-7577   995  0.434222  INQ601
49999  450  Q0    FBIS4-37525  1000  0.434192  INQ601

[18745 rows x 6 columns],          0   1                 2    3       4       5
0      401  Q0       FBIS4-19680    1  1000.0  isa50t
3      401  Q0       FT921-11087    4   997.0  isa50t
4      401  Q0        FT944-8635    5   996.0  isa50t
8      401  Q0       FBIS3-20335    9   992.0  isa50t
10     401  Q0       FT921-15094   11   990.0  isa50t
...    ...  ..               ...  ...     ...     ...
13856  415  Q0  FR940610-1-00095  792   209.0  isa50t
15432  417  Q0     LA092489-0011  368   633.0  isa50t
15798  417  Q0     LA091789-0163  734   267.0  isa50t
15806  417  Q0        FBIS4-2439  742   259.0  isa50t
17775  419  Q0       FBIS4-68668  711   290.0  isa50t

[1000 rows x 6 columns],          0   1              2    3          4        5
0      401  Q0    FBIS4-55036    1  60.587582  mds08a3
1      401  Q0    FBIS3-38236    2  60.456001  mds08a3
2      401  Q0    FBIS4-65434    3  60.362904  mds08a3
3      401  Q0    FBIS4-18182    4  60.157059  mds08a3
4      401  Q0     FBIS4-9157    6  59.166615  mds08a3
...    ...  ..            ...  ...        ...      ...
49986  450  Q0  LA062290-0005  987  64.716499  mds08a3
49988  450  Q0    FBIS3-13044  989  64.693916  mds08a3
49990  450  Q0    FBIS3-33801  991  64.635597  mds08a3
49994  450  Q0    FBIS3-52411  995  64.622177  mds08a3
49998  450  Q0    FBIS3-34835  999  64.534149  mds08a3

[28794 rows x 6 columns],          0   1              2     3         4         5
0      401  Q0    FBIS4-18182     1  0.834366  MITSLStd
1      401  Q0     FT924-4470     2  0.824105  MITSLStd
2      401  Q0    FBIS3-17077     3  0.740365  MITSLStd
3      401  Q0     FT932-5884     4  0.631775  MITSLStd
4      401  Q0    FBIS3-20090     5  0.583836  MITSLStd
...    ...  ..            ...   ...       ...       ...
49983  450  Q0    FBIS4-13397   984 -0.354681  MITSLStd
49990  450  Q0  LA081590-0151   991 -0.356386  MITSLStd
49994  450  Q0  LA081890-0088   995 -0.356593  MITSLStd
49997  450  Q0  LA121190-0027   998 -0.358896  MITSLStd
49999  450  Q0    FBIS3-13615  1000 -0.359180  MITSLStd

[30069 rows x 6 columns],          0   1              2    3         4       5
0      401  Q0    FBIS4-18182    0  3.304330  ok8alx
1      401  Q0    FBIS3-18916    1  3.059850  ok8alx
2      401  Q0    FBIS3-18833    2  3.019000  ok8alx
3      401  Q0     FT911-1796    3  2.903060  ok8alx
4      401  Q0    FBIS3-59042    4  2.897510  ok8alx
...    ...  ..            ...  ...       ...     ...
49985  450  Q0  LA123189-0117  985  0.859241  ok8alx
49990  450  Q0  LA081290-0118  990  0.858340  ok8alx
49992  450  Q0     FT944-2869  992  0.858093  ok8alx
49996  450  Q0  LA022289-0054  996  0.856684  ok8alx
49997  450  Q0  LA091190-0052  997  0.856638  ok8alx

[29218 rows x 6 columns],          0   1              2    3       4         5
0      401  Q0    FBIS4-31715    0  2.6306  pir9Atd0
1      401  Q0     FBIS4-9582    1  2.5579  pir9Atd0
2      401  Q0     FBIS3-8767    2  2.3587  pir9Atd0
3      401  Q0  LA123089-0101    3  2.3229  pir9Atd0
4      401  Q0      FT924-107    4  2.3214  pir9Atd0
...    ...  ..            ...  ...     ...       ...
49978  450  Q0     FT934-4868  978  2.5912  pir9Atd0
49988  450  Q0    FBIS3-13716  988  2.5854  pir9Atd0
49990  450  Q0    FBIS4-13825  990  2.5842  pir9Atd0
49991  450  Q0    FT944-15627  991  2.5839  pir9Atd0
49998  450  Q0    FBIS4-14359  998  2.5780  pir9Atd0

[18290 rows x 6 columns],         0   1              2   3      4         5
0     401  Q0     FT922-9093   1  25000  READWARE
1     401  Q0     FT924-4344   2  24999  READWARE
2     401  Q0     FT924-5091   3  24998  READWARE
3     401  Q0     FT924-5839   4  24997  READWARE
4     401  Q0     FT924-7558   5  24996  READWARE
...   ...  ..            ...  ..    ...       ...
2595  442  Q0  LA110290-0120  53  18994  READWARE
2596  442  Q0  LA111689-0204  54  18993  READWARE
2597  442  Q0  LA120990-0074  55  18992  READWARE
2920  450  Q0    FT944-15512  24  24977  READWARE
2921  450  Q0    FT944-15625  25  24976  READWARE

[435 rows x 6 columns],          0   1            2    3          4       5
0      401  Q0    FT941-230    1  12.573170  Sab8A1
1      401  Q0   FT924-4470    2  12.210987  Sab8A1
2      401  Q0   FT941-1403    3  11.885273  Sab8A1
3      401  Q0   FT911-1796    4  11.673589  Sab8A1
4      401  Q0   FT941-4640    5  11.659075  Sab8A1
...    ...  ..          ...  ...        ...     ...
49989  450  Q0  FBIS3-59248  990  11.176571  Sab8A1
49991  450  Q0  FBIS3-34600  992  11.172478  Sab8A1
49992  450  Q0  FBIS4-37197  993  11.170953  Sab8A1
49995  450  Q0  FBIS4-12782  996  11.167779  Sab8A1
49997  450  Q0   FT911-3549  998  11.164135  Sab8A1

[28064 rows x 6 columns]]

In [27]:
# Define the column names
columns = ['query_id', 'ignore', 'doc_id', 'rank', 'score', 'ignore2']

# Create an empty list to store the cleaned dataframes
cleaned_dfs_with_names = []

# Iterate over each cleaned dataframe in cleaned_dfs
for df in cleaned_dfs:
    # Rename the columns
    df = df.rename(columns=dict(enumerate(columns)))
    # Append the renamed dataframe to the new list
    cleaned_dfs_with_names.append(df)

In [28]:
print(cleaned_dfs_with_names)

[       query_id ignore         doc_id  rank         score     ignore2
0           401     Q0     FT924-5091     0  10015.175781  acsys8aln2
1           401     Q0    FBIS3-39240     1  10014.111328  acsys8aln2
2           401     Q0     FT924-4470     2  10013.638672  acsys8aln2
3           401     Q0    FBIS4-18182     3  10013.591797  acsys8aln2
4           401     Q0    FBIS3-59055     4  10013.441406  acsys8aln2
...         ...    ...            ...   ...           ...         ...
49910       450     Q0    FBIS3-12998   910  10012.927734  acsys8aln2
49922       450     Q0  LA100890-0074   922  10012.846680  acsys8aln2
49934       450     Q0    FBIS4-59198   934  10012.767578  acsys8aln2
49961       450     Q0    FBIS4-58516   961  10012.646484  acsys8aln2
49968       450     Q0    FBIS4-37789   968  10012.623047  acsys8aln2

[12367 rows x 6 columns],        query_id ignore       doc_id  rank   score   ignore2
0           401     Q0   FT942-5121     2  8.3846  apl8c621
2           401     Q0   FT924-7558     3  6.6410  apl8c621
3           401     Q0  FT931-10513     4  5.9905  apl8c621
4           401     Q0   FT944-6909     5  5.4853  apl8c621
5           401     Q0   FT924-4344     6  5.3936  apl8c621
...         ...    ...          ...   ...     ...       ...
49864       450     Q0  FBIS4-58518   865  0.3512  apl8c621
49900       450     Q0  FBIS4-12893   901  0.3145  apl8c621
49901       450     Q0   FT944-1732   902  0.3141  apl8c621
49971       450     Q0   FT942-4898   972  0.2461  apl8c621
49989       450     Q0  FT921-13650   990  0.2331  apl8c621

[17558 rows x 6 columns],        query_id ignore       doc_id  rank      score   ignore2
0           401     Q0  FT922-14939     1  19.609444  att99ate
1           401     Q0  FT922-10801     2  18.003141  att99ate
2           401     Q0  FT922-15552     3  17.388166  att99ate
3           401     Q0  FBIS3-20090     4  17.340698  att99ate
4           401     Q0  FT922-10979     5  17.248894  att99ate
...         ...    ...          ...   ...        ...       ...
49987       450     Q0   FBIS4-6284   988  21.010160  att99ate
49988       450     Q0  FBIS3-14183   989  21.002539  att99ate
49989       450     Q0  FBIS3-52743   990  20.998537  att99ate
49992       450     Q0  FBIS3-54545   993  20.983173  att99ate
49999       450     Q0    FT911-305  1000  20.936275  att99ate

[28924 rows x 6 columns],        query_id ignore       doc_id  rank  score ignore2
0           401     Q0  FBIS3-24653    29   75.0  disco1
2           401     Q0     FBIS3-29    45   72.0  disco1
12          401     Q0     FBIS3-23    69   69.0  disco1
21          401     Q0  FBIS4-44661    89   66.0  disco1
27          401     Q0  FBIS3-24678   113   63.0  disco1
...         ...    ...          ...   ...    ...     ...
13890       420     Q0  FBIS3-20587  2085    8.0  disco1
22732       432     Q0  FBIS3-61122   155   22.0  disco1
22770       432     Q0  FBIS3-21056   278   13.0  disco1
22853       433     Q0  FBIS3-24653     6   86.0  disco1
26853       437     Q0     FBIS3-23     4   94.0  disco1

[89 rows x 6 columns],        query_id ignore         doc_id  rank         score    ignore2
0           401     Q0     FBIS4-9582     1  21885.191406  Flab8atd2
1           401     Q0    FBIS4-18182     2  20682.982422  Flab8atd2
2           401     Q0    FBIS4-62200     3  19856.041016  Flab8atd2
3           401     Q0    FBIS4-54440     4  19504.779297  Flab8atd2
4           401     Q0    FBIS3-20090     5  19278.716797  Flab8atd2
...         ...    ...            ...   ...           ...        ...
49986       450     Q0    FBIS3-54176   987  20232.542969  Flab8atd2
49992       450     Q0  LA020589-0068   993  20157.544922  Flab8atd2
49994       450     Q0  LA082190-0087   995  20133.226562  Flab8atd2
49995       450     Q0     FT934-4868   996  20130.666016  Flab8atd2
49998       450     Q0    FBIS3-52453   999  20114.148438  Flab8atd2

[30880 rows x 6 columns],        query_id ignore         doc_id  rank     score  ignore2
0           401     Q0    FT932-10861     1  0.437877  GE8ATD3
1           401     Q0     FT932-5884     2  0.423162  GE8ATD3
2           401     Q0     FT911-1796     3  0.422083  GE8ATD3
3           401     Q0     FT924-3663     4  0.421939  GE8ATD3
4           401     Q0  LA091490-0080     5  0.421367  GE8ATD3
...         ...    ...            ...   ...       ...      ...
49982       450     Q0    FBIS4-11925   983  0.419298  GE8ATD3
49989       450     Q0    FBIS4-12110   990  0.419265  GE8ATD3
49993       450     Q0  LA101090-0098   994  0.419246  GE8ATD3
49997       450     Q0    FBIS3-53299   998  0.419233  GE8ATD3
49999       450     Q0    FBIS3-52841  1000  0.419224  GE8ATD3

[15404 rows x 6 columns],        query_id ignore         doc_id  rank     score  ignore2
0           401     Q0    FBIS3-17077     0  0.874967  ibms99a
1           401     Q0    FBIS4-55036     1  0.816535  ibms99a
2           401     Q0    FBIS4-18182     2  0.764794  ibms99a
3           401     Q0     FBIS3-4201     3  0.703543  ibms99a
4           401     Q0    FBIS4-66148     4  0.670180  ibms99a
...         ...    ...            ...   ...       ...      ...
49982       450     Q0    FT941-17740   982  0.342755  ibms99a
49984       450     Q0  LA083090-0078   984  0.342602  ibms99a
49992       450     Q0  LA101290-0010   992  0.341578  ibms99a
49995       450     Q0    FT941-10101   995  0.341361  ibms99a
49999       450     Q0    FBIS4-58796   999  0.341166  ibms99a

[30766 rows x 6 columns],        query_id ignore         doc_id  rank     score ignore2
0           401     Q0     FT911-1796     1  0.461869  INQ601
1           401     Q0    FBIS4-55036     2  0.446217  INQ601
2           401     Q0    FBIS3-18916     3  0.444678  INQ601
3           401     Q0    FBIS3-18833     4  0.442222  INQ601
4           401     Q0    FBIS3-17077     5  0.441394  INQ601
...         ...    ...            ...   ...       ...     ...
49981       450     Q0    FBIS4-13611   982  0.434299  INQ601
49989       450     Q0  LA080690-0031   990  0.434257  INQ601
49991       450     Q0     FT921-6607   992  0.434236  INQ601
49994       450     Q0     FT931-7577   995  0.434222  INQ601
49999       450     Q0    FBIS4-37525  1000  0.434192  INQ601

[18745 rows x 6 columns],        query_id ignore            doc_id  rank   score ignore2
0           401     Q0       FBIS4-19680     1  1000.0  isa50t
3           401     Q0       FT921-11087     4   997.0  isa50t
4           401     Q0        FT944-8635     5   996.0  isa50t
8           401     Q0       FBIS3-20335     9   992.0  isa50t
10          401     Q0       FT921-15094    11   990.0  isa50t
...         ...    ...               ...   ...     ...     ...
13856       415     Q0  FR940610-1-00095   792   209.0  isa50t
15432       417     Q0     LA092489-0011   368   633.0  isa50t
15798       417     Q0     LA091789-0163   734   267.0  isa50t
15806       417     Q0        FBIS4-2439   742   259.0  isa50t
17775       419     Q0       FBIS4-68668   711   290.0  isa50t

[1000 rows x 6 columns],        query_id ignore         doc_id  rank      score  ignore2
0           401     Q0    FBIS4-55036     1  60.587582  mds08a3
1           401     Q0    FBIS3-38236     2  60.456001  mds08a3
2           401     Q0    FBIS4-65434     3  60.362904  mds08a3
3           401     Q0    FBIS4-18182     4  60.157059  mds08a3
4           401     Q0     FBIS4-9157     6  59.166615  mds08a3
...         ...    ...            ...   ...        ...      ...
49986       450     Q0  LA062290-0005   987  64.716499  mds08a3
49988       450     Q0    FBIS3-13044   989  64.693916  mds08a3
49990       450     Q0    FBIS3-33801   991  64.635597  mds08a3
49994       450     Q0    FBIS3-52411   995  64.622177  mds08a3
49998       450     Q0    FBIS3-34835   999  64.534149  mds08a3

[28794 rows x 6 columns],        query_id ignore         doc_id  rank     score   ignore2
0           401     Q0    FBIS4-18182     1  0.834366  MITSLStd
1           401     Q0     FT924-4470     2  0.824105  MITSLStd
2           401     Q0    FBIS3-17077     3  0.740365  MITSLStd
3           401     Q0     FT932-5884     4  0.631775  MITSLStd
4           401     Q0    FBIS3-20090     5  0.583836  MITSLStd
...         ...    ...            ...   ...       ...       ...
49983       450     Q0    FBIS4-13397   984 -0.354681  MITSLStd
49990       450     Q0  LA081590-0151   991 -0.356386  MITSLStd
49994       450     Q0  LA081890-0088   995 -0.356593  MITSLStd
49997       450     Q0  LA121190-0027   998 -0.358896  MITSLStd
49999       450     Q0    FBIS3-13615  1000 -0.359180  MITSLStd

[30069 rows x 6 columns],        query_id ignore         doc_id  rank     score ignore2
0           401     Q0    FBIS4-18182     0  3.304330  ok8alx
1           401     Q0    FBIS3-18916     1  3.059850  ok8alx
2           401     Q0    FBIS3-18833     2  3.019000  ok8alx
3           401     Q0     FT911-1796     3  2.903060  ok8alx
4           401     Q0    FBIS3-59042     4  2.897510  ok8alx
...         ...    ...            ...   ...       ...     ...
49985       450     Q0  LA123189-0117   985  0.859241  ok8alx
49990       450     Q0  LA081290-0118   990  0.858340  ok8alx
49992       450     Q0     FT944-2869   992  0.858093  ok8alx
49996       450     Q0  LA022289-0054   996  0.856684  ok8alx
49997       450     Q0  LA091190-0052   997  0.856638  ok8alx

[29218 rows x 6 columns],        query_id ignore         doc_id  rank   score   ignore2
0           401     Q0    FBIS4-31715     0  2.6306  pir9Atd0
1           401     Q0     FBIS4-9582     1  2.5579  pir9Atd0
2           401     Q0     FBIS3-8767     2  2.3587  pir9Atd0
3           401     Q0  LA123089-0101     3  2.3229  pir9Atd0
4           401     Q0      FT924-107     4  2.3214  pir9Atd0
...         ...    ...            ...   ...     ...       ...
49978       450     Q0     FT934-4868   978  2.5912  pir9Atd0
49988       450     Q0    FBIS3-13716   988  2.5854  pir9Atd0
49990       450     Q0    FBIS4-13825   990  2.5842  pir9Atd0
49991       450     Q0    FT944-15627   991  2.5839  pir9Atd0
49998       450     Q0    FBIS4-14359   998  2.5780  pir9Atd0

[18290 rows x 6 columns],       query_id ignore         doc_id  rank  score   ignore2
0          401     Q0     FT922-9093     1  25000  READWARE
1          401     Q0     FT924-4344     2  24999  READWARE
2          401     Q0     FT924-5091     3  24998  READWARE
3          401     Q0     FT924-5839     4  24997  READWARE
4          401     Q0     FT924-7558     5  24996  READWARE
...        ...    ...            ...   ...    ...       ...
2595       442     Q0  LA110290-0120    53  18994  READWARE
2596       442     Q0  LA111689-0204    54  18993  READWARE
2597       442     Q0  LA120990-0074    55  18992  READWARE
2920       450     Q0    FT944-15512    24  24977  READWARE
2921       450     Q0    FT944-15625    25  24976  READWARE

[435 rows x 6 columns],        query_id ignore       doc_id  rank      score ignore2
0           401     Q0    FT941-230     1  12.573170  Sab8A1
1           401     Q0   FT924-4470     2  12.210987  Sab8A1
2           401     Q0   FT941-1403     3  11.885273  Sab8A1
3           401     Q0   FT911-1796     4  11.673589  Sab8A1
4           401     Q0   FT941-4640     5  11.659075  Sab8A1
...         ...    ...          ...   ...        ...     ...
49989       450     Q0  FBIS3-59248   990  11.176571  Sab8A1
49991       450     Q0  FBIS3-34600   992  11.172478  Sab8A1
49992       450     Q0  FBIS4-37197   993  11.170953  Sab8A1
49995       450     Q0  FBIS4-12782   996  11.167779  Sab8A1
49997       450     Q0   FT911-3549   998  11.164135  Sab8A1

[28064 rows x 6 columns]]

In [29]:
# loop over the dataframes and print the first and third columns
for i, cleaned_df in enumerate(cleaned_dfs_with_names):
    print(f"Columns of dataframe {i+1}:")
    print("First column:", cleaned_df.iloc[:, 0])
    print("Third column:", cleaned_df.iloc[:, 2])

Columns of dataframe 1:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49910    450
49922    450
49934    450
49961    450
49968    450
Name: query_id, Length: 12367, dtype: int64
Third column: 0           FT924-5091
1          FBIS3-39240
2           FT924-4470
3          FBIS4-18182
4          FBIS3-59055
             ...
49910      FBIS3-12998
49922    LA100890-0074
49934      FBIS4-59198
49961      FBIS4-58516
49968      FBIS4-37789
Name: doc_id, Length: 12367, dtype: object
Columns of dataframe 2:
First column: 0        401
2        401
3        401
4        401
5        401
        ...
49864    450
49900    450
49901    450
49971    450
49989    450
Name: query_id, Length: 17558, dtype: int64
Third column: 0         FT942-5121
2         FT924-7558
3        FT931-10513
4         FT944-6909
5         FT924-4344
            ...
49864    FBIS4-58518
49900    FBIS4-12893
49901     FT944-1732
49971     FT942-4898
49989    FT921-13650
Name: doc_id, Length: 17558, dtype: object
Columns of dataframe 3:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49987    450
49988    450
49989    450
49992    450
49999    450
Name: query_id, Length: 28924, dtype: int64
Third column: 0        FT922-14939
1        FT922-10801
2        FT922-15552
3        FBIS3-20090
4        FT922-10979
            ...
49987     FBIS4-6284
49988    FBIS3-14183
49989    FBIS3-52743
49992    FBIS3-54545
49999      FT911-305
Name: doc_id, Length: 28924, dtype: object
Columns of dataframe 4:
First column: 0        401
2        401
12       401
21       401
27       401
        ...
13890    420
22732    432
22770    432
22853    433
26853    437
Name: query_id, Length: 89, dtype: int64
Third column: 0        FBIS3-24653
2           FBIS3-29
12          FBIS3-23
21       FBIS4-44661
27       FBIS3-24678
            ...
13890    FBIS3-20587
22732    FBIS3-61122
22770    FBIS3-21056
22853    FBIS3-24653
26853       FBIS3-23
Name: doc_id, Length: 89, dtype: object
Columns of dataframe 5:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49986    450
49992    450
49994    450
49995    450
49998    450
Name: query_id, Length: 30880, dtype: int64
Third column: 0           FBIS4-9582
1          FBIS4-18182
2          FBIS4-62200
3          FBIS4-54440
4          FBIS3-20090
             ...
49986      FBIS3-54176
49992    LA020589-0068
49994    LA082190-0087
49995       FT934-4868
49998      FBIS3-52453
Name: doc_id, Length: 30880, dtype: object
Columns of dataframe 6:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49982    450
49989    450
49993    450
49997    450
49999    450
Name: query_id, Length: 15404, dtype: int64
Third column: 0          FT932-10861
1           FT932-5884
2           FT911-1796
3           FT924-3663
4        LA091490-0080
             ...
49982      FBIS4-11925
49989      FBIS4-12110
49993    LA101090-0098
49997      FBIS3-53299
49999      FBIS3-52841
Name: doc_id, Length: 15404, dtype: object
Columns of dataframe 7:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49982    450
49984    450
49992    450
49995    450
49999    450
Name: query_id, Length: 30766, dtype: int64
Third column: 0          FBIS3-17077
1          FBIS4-55036
2          FBIS4-18182
3           FBIS3-4201
4          FBIS4-66148
             ...
49982      FT941-17740
49984    LA083090-0078
49992    LA101290-0010
49995      FT941-10101
49999      FBIS4-58796
Name: doc_id, Length: 30766, dtype: object
Columns of dataframe 8:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49981    450
49989    450
49991    450
49994    450
49999    450
Name: query_id, Length: 18745, dtype: int64
Third column: 0           FT911-1796
1          FBIS4-55036
2          FBIS3-18916
3          FBIS3-18833
4          FBIS3-17077
             ...
49981      FBIS4-13611
49989    LA080690-0031
49991       FT921-6607
49994       FT931-7577
49999      FBIS4-37525
Name: doc_id, Length: 18745, dtype: object
Columns of dataframe 9:
First column: 0        401
3        401
4        401
8        401
10       401
        ...
13856    415
15432    417
15798    417
15806    417
17775    419
Name: query_id, Length: 1000, dtype: int64
Third column: 0             FBIS4-19680
3             FT921-11087
4              FT944-8635
8             FBIS3-20335
10            FT921-15094
               ...
13856    FR940610-1-00095
15432       LA092489-0011
15798       LA091789-0163
15806          FBIS4-2439
17775         FBIS4-68668
Name: doc_id, Length: 1000, dtype: object
Columns of dataframe 10:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49986    450
49988    450
49990    450
49994    450
49998    450
Name: query_id, Length: 28794, dtype: int64
Third column: 0          FBIS4-55036
1          FBIS3-38236
2          FBIS4-65434
3          FBIS4-18182
4           FBIS4-9157
             ...
49986    LA062290-0005
49988      FBIS3-13044
49990      FBIS3-33801
49994      FBIS3-52411
49998      FBIS3-34835
Name: doc_id, Length: 28794, dtype: object
Columns of dataframe 11:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49983    450
49990    450
49994    450
49997    450
49999    450
Name: query_id, Length: 30069, dtype: int64
Third column: 0          FBIS4-18182
1           FT924-4470
2          FBIS3-17077
3           FT932-5884
4          FBIS3-20090
             ...
49983      FBIS4-13397
49990    LA081590-0151
49994    LA081890-0088
49997    LA121190-0027
49999      FBIS3-13615
Name: doc_id, Length: 30069, dtype: object
Columns of dataframe 12:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49985    450
49990    450
49992    450
49996    450
49997    450
Name: query_id, Length: 29218, dtype: int64
Third column: 0          FBIS4-18182
1          FBIS3-18916
2          FBIS3-18833
3           FT911-1796
4          FBIS3-59042
             ...
49985    LA123189-0117
49990    LA081290-0118
49992       FT944-2869
49996    LA022289-0054
49997    LA091190-0052
Name: doc_id, Length: 29218, dtype: object
Columns of dataframe 13:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49978    450
49988    450
49990    450
49991    450
49998    450
Name: query_id, Length: 18290, dtype: int64
Third column: 0          FBIS4-31715
1           FBIS4-9582
2           FBIS3-8767
3        LA123089-0101
4            FT924-107
             ...
49978       FT934-4868
49988      FBIS3-13716
49990      FBIS4-13825
49991      FT944-15627
49998      FBIS4-14359
Name: doc_id, Length: 18290, dtype: object
Columns of dataframe 14:
First column: 0       401
1       401
2       401
3       401
4       401
       ...
2595    442
2596    442
2597    442
2920    450
2921    450
Name: query_id, Length: 435, dtype: int64
Third column: 0          FT922-9093
1          FT924-4344
2          FT924-5091
3          FT924-5839
4          FT924-7558
            ...
2595    LA110290-0120
2596    LA111689-0204
2597    LA120990-0074
2920      FT944-15512
2921      FT944-15625
Name: doc_id, Length: 435, dtype: object
Columns of dataframe 15:
First column: 0        401
1        401
2        401
3        401
4        401
        ...
49989    450
49991    450
49992    450
49995    450
49997    450
Name: query_id, Length: 28064, dtype: int64
Third column: 0          FT941-230
1         FT924-4470
2         FT941-1403
3         FT911-1796
4         FT941-4640
            ...
49989    FBIS3-59248
49991    FBIS3-34600
49992    FBIS4-37197
49995    FBIS4-12782
49997     FT911-3549
Name: doc_id, Length: 28064, dtype: object

Data Analysis Part

In [30]:
merged_df = []
for df in cleaned_dfs_with_names:
    cleaned_df_with_qrel = pd.merge(df, qrels_df, on=['query_id', 'doc_id'], how='left')
    merged_df.append(cleaned_df_with_qrel)

In [31]:
print(merged_df)

[       query_id ignore_x         doc_id  rank         score     ignore2  \
0           401       Q0     FT924-5091     0  10015.175781  acsys8aln2
1           401       Q0    FBIS3-39240     1  10014.111328  acsys8aln2
2           401       Q0     FT924-4470     2  10013.638672  acsys8aln2
3           401       Q0    FBIS4-18182     3  10013.591797  acsys8aln2
4           401       Q0    FBIS3-59055     4  10013.441406  acsys8aln2
...         ...      ...            ...   ...           ...         ...
12362       450       Q0    FBIS3-12998   910  10012.927734  acsys8aln2
12363       450       Q0  LA100890-0074   922  10012.846680  acsys8aln2
12364       450       Q0    FBIS4-59198   934  10012.767578  acsys8aln2
12365       450       Q0    FBIS4-58516   961  10012.646484  acsys8aln2
12366       450       Q0    FBIS4-37789   968  10012.623047  acsys8aln2

       ignore_y  relevance
0           0.0        1.0
1           0.0        1.0
2           0.0        1.0
3           0.0        0.0
4           0.0        1.0
...         ...        ...
12362       0.0        0.0
12363       0.0        0.0
12364       0.0        0.0
12365       NaN        NaN
12366       0.0        0.0

[12367 rows x 8 columns],        query_id ignore_x       doc_id  rank   score   ignore2  ignore_y  \
0           401       Q0   FT942-5121     2  8.3846  apl8c621       0.0
1           401       Q0   FT924-7558     3  6.6410  apl8c621       0.0
2           401       Q0  FT931-10513     4  5.9905  apl8c621       0.0
3           401       Q0   FT944-6909     5  5.4853  apl8c621       0.0
4           401       Q0   FT924-4344     6  5.3936  apl8c621       0.0
...         ...      ...          ...   ...     ...       ...       ...
17553       450       Q0  FBIS4-58518   865  0.3512  apl8c621       NaN
17554       450       Q0  FBIS4-12893   901  0.3145  apl8c621       0.0
17555       450       Q0   FT944-1732   902  0.3141  apl8c621       0.0
17556       450       Q0   FT942-4898   972  0.2461  apl8c621       0.0
17557       450       Q0  FT921-13650   990  0.2331  apl8c621       0.0

       relevance
0            1.0
1            1.0
2            1.0
3            1.0
4            1.0
...          ...
17553        NaN
17554        1.0
17555        0.0
17556        0.0
17557        0.0

[17558 rows x 8 columns],        query_id ignore_x       doc_id  rank      score   ignore2  ignore_y  \
0           401       Q0  FT922-14939     1  19.609444  att99ate       0.0
1           401       Q0  FT922-10801     2  18.003141  att99ate       0.0
2           401       Q0  FT922-15552     3  17.388166  att99ate       0.0
3           401       Q0  FBIS3-20090     4  17.340698  att99ate       0.0
4           401       Q0  FT922-10979     5  17.248894  att99ate       0.0
...         ...      ...          ...   ...        ...       ...       ...
28919       450       Q0   FBIS4-6284   988  21.010160  att99ate       0.0
28920       450       Q0  FBIS3-14183   989  21.002539  att99ate       0.0
28921       450       Q0  FBIS3-52743   990  20.998537  att99ate       0.0
28922       450       Q0  FBIS3-54545   993  20.983173  att99ate       0.0
28923       450       Q0    FT911-305  1000  20.936275  att99ate       0.0

       relevance
0            1.0
1            0.0
2            0.0
3            1.0
4            0.0
...          ...
28919        0.0
28920        0.0
28921        1.0
28922        1.0
28923        0.0

[28924 rows x 8 columns],     query_id ignore_x       doc_id  rank  score ignore2  ignore_y  relevance
0        401       Q0  FBIS3-24653    29   75.0  disco1       0.0        0.0
1        401       Q0     FBIS3-29    45   72.0  disco1       0.0        0.0
2        401       Q0     FBIS3-23    69   69.0  disco1       0.0        0.0
3        401       Q0  FBIS4-44661    89   66.0  disco1       0.0        0.0
4        401       Q0  FBIS3-24678   113   63.0  disco1       0.0        0.0
..       ...      ...          ...   ...    ...     ...       ...        ...
84       420       Q0  FBIS3-20587  2085    8.0  disco1       0.0        0.0
85       432       Q0  FBIS3-61122   155   22.0  disco1       0.0        0.0
86       432       Q0  FBIS3-21056   278   13.0  disco1       0.0        0.0
87       433       Q0  FBIS3-24653     6   86.0  disco1       0.0        0.0
88       437       Q0     FBIS3-23     4   94.0  disco1       0.0        0.0

[89 rows x 8 columns],        query_id ignore_x         doc_id  rank         score    ignore2  \
0           401       Q0     FBIS4-9582     1  21885.191406  Flab8atd2
1           401       Q0    FBIS4-18182     2  20682.982422  Flab8atd2
2           401       Q0    FBIS4-62200     3  19856.041016  Flab8atd2
3           401       Q0    FBIS4-54440     4  19504.779297  Flab8atd2
4           401       Q0    FBIS3-20090     5  19278.716797  Flab8atd2
...         ...      ...            ...   ...           ...        ...
30875       450       Q0    FBIS3-54176   987  20232.542969  Flab8atd2
30876       450       Q0  LA020589-0068   993  20157.544922  Flab8atd2
30877       450       Q0  LA082190-0087   995  20133.226562  Flab8atd2
30878       450       Q0     FT934-4868   996  20130.666016  Flab8atd2
30879       450       Q0    FBIS3-52453   999  20114.148438  Flab8atd2

       ignore_y  relevance
0           0.0        0.0
1           0.0        0.0
2           0.0        0.0
3           0.0        0.0
4           0.0        1.0
...         ...        ...
30875       0.0        0.0
30876       NaN        NaN
30877       0.0        0.0
30878       0.0        0.0
30879       0.0        1.0

[30880 rows x 8 columns],        query_id ignore_x         doc_id  rank     score  ignore2  ignore_y  \
0           401       Q0    FT932-10861     1  0.437877  GE8ATD3       0.0
1           401       Q0     FT932-5884     2  0.423162  GE8ATD3       0.0
2           401       Q0     FT911-1796     3  0.422083  GE8ATD3       0.0
3           401       Q0     FT924-3663     4  0.421939  GE8ATD3       0.0
4           401       Q0  LA091490-0080     5  0.421367  GE8ATD3       0.0
...         ...      ...            ...   ...       ...      ...       ...
15399       450       Q0    FBIS4-11925   983  0.419298  GE8ATD3       0.0
15400       450       Q0    FBIS4-12110   990  0.419265  GE8ATD3       0.0
15401       450       Q0  LA101090-0098   994  0.419246  GE8ATD3       0.0
15402       450       Q0    FBIS3-53299   998  0.419233  GE8ATD3       NaN
15403       450       Q0    FBIS3-52841  1000  0.419224  GE8ATD3       NaN

       relevance
0            0.0
1            1.0
2            0.0
3            0.0
4            0.0
...          ...
15399        1.0
15400        1.0
15401        0.0
15402        NaN
15403        NaN

[15404 rows x 8 columns],        query_id ignore_x         doc_id  rank     score  ignore2  ignore_y  \
0           401       Q0    FBIS3-17077     0  0.874967  ibms99a       0.0
1           401       Q0    FBIS4-55036     1  0.816535  ibms99a       0.0
2           401       Q0    FBIS4-18182     2  0.764794  ibms99a       0.0
3           401       Q0     FBIS3-4201     3  0.703543  ibms99a       0.0
4           401       Q0    FBIS4-66148     4  0.670180  ibms99a       0.0
...         ...      ...            ...   ...       ...      ...       ...
30761       450       Q0    FT941-17740   982  0.342755  ibms99a       0.0
30762       450       Q0  LA083090-0078   984  0.342602  ibms99a       0.0
30763       450       Q0  LA101290-0010   992  0.341578  ibms99a       0.0
30764       450       Q0    FT941-10101   995  0.341361  ibms99a       NaN
30765       450       Q0    FBIS4-58796   999  0.341166  ibms99a       0.0

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
30761        0.0
30762        0.0
30763        0.0
30764        NaN
30765        1.0

[30766 rows x 8 columns],        query_id ignore_x         doc_id  rank     score ignore2  ignore_y  \
0           401       Q0     FT911-1796     1  0.461869  INQ601       0.0
1           401       Q0    FBIS4-55036     2  0.446217  INQ601       0.0
2           401       Q0    FBIS3-18916     3  0.444678  INQ601       0.0
3           401       Q0    FBIS3-18833     4  0.442222  INQ601       0.0
4           401       Q0    FBIS3-17077     5  0.441394  INQ601       0.0
...         ...      ...            ...   ...       ...     ...       ...
18740       450       Q0    FBIS4-13611   982  0.434299  INQ601       0.0
18741       450       Q0  LA080690-0031   990  0.434257  INQ601       0.0
18742       450       Q0     FT921-6607   992  0.434236  INQ601       NaN
18743       450       Q0     FT931-7577   995  0.434222  INQ601       NaN
18744       450       Q0    FBIS4-37525  1000  0.434192  INQ601       NaN

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
18740        1.0
18741        0.0
18742        NaN
18743        NaN
18744        NaN

[18745 rows x 8 columns],      query_id ignore_x            doc_id  rank   score ignore2  ignore_y  \
0         401       Q0       FBIS4-19680     1  1000.0  isa50t       0.0
1         401       Q0       FT921-11087     4   997.0  isa50t       0.0
2         401       Q0        FT944-8635     5   996.0  isa50t       0.0
3         401       Q0       FBIS3-20335     9   992.0  isa50t       0.0
4         401       Q0       FT921-15094    11   990.0  isa50t       0.0
..        ...      ...               ...   ...     ...     ...       ...
995       415       Q0  FR940610-1-00095   792   209.0  isa50t       NaN
996       417       Q0     LA092489-0011   368   633.0  isa50t       NaN
997       417       Q0     LA091789-0163   734   267.0  isa50t       0.0
998       417       Q0        FBIS4-2439   742   259.0  isa50t       0.0
999       419       Q0       FBIS4-68668   711   290.0  isa50t       0.0

     relevance
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
..         ...
995        NaN
996        NaN
997        0.0
998        0.0
999        0.0

[1000 rows x 8 columns],        query_id ignore_x         doc_id  rank      score  ignore2  ignore_y  \
0           401       Q0    FBIS4-55036     1  60.587582  mds08a3       0.0
1           401       Q0    FBIS3-38236     2  60.456001  mds08a3       0.0
2           401       Q0    FBIS4-65434     3  60.362904  mds08a3       0.0
3           401       Q0    FBIS4-18182     4  60.157059  mds08a3       0.0
4           401       Q0     FBIS4-9157     6  59.166615  mds08a3       0.0
...         ...      ...            ...   ...        ...      ...       ...
28789       450       Q0  LA062290-0005   987  64.716499  mds08a3       0.0
28790       450       Q0    FBIS3-13044   989  64.693916  mds08a3       0.0
28791       450       Q0    FBIS3-33801   991  64.635597  mds08a3       NaN
28792       450       Q0    FBIS3-52411   995  64.622177  mds08a3       0.0
28793       450       Q0    FBIS3-34835   999  64.534149  mds08a3       NaN

       relevance
0            0.0
1            0.0
2            1.0
3            0.0
4            0.0
...          ...
28789        0.0
28790        0.0
28791        NaN
28792        1.0
28793        NaN

[28794 rows x 8 columns],        query_id ignore_x         doc_id  rank     score   ignore2  ignore_y  \
0           401       Q0    FBIS4-18182     1  0.834366  MITSLStd       0.0
1           401       Q0     FT924-4470     2  0.824105  MITSLStd       0.0
2           401       Q0    FBIS3-17077     3  0.740365  MITSLStd       0.0
3           401       Q0     FT932-5884     4  0.631775  MITSLStd       0.0
4           401       Q0    FBIS3-20090     5  0.583836  MITSLStd       0.0
...         ...      ...            ...   ...       ...       ...       ...
30064       450       Q0    FBIS4-13397   984 -0.354681  MITSLStd       0.0
30065       450       Q0  LA081590-0151   991 -0.356386  MITSLStd       0.0
30066       450       Q0  LA081890-0088   995 -0.356593  MITSLStd       0.0
30067       450       Q0  LA121190-0027   998 -0.358896  MITSLStd       0.0
30068       450       Q0    FBIS3-13615  1000 -0.359180  MITSLStd       NaN

       relevance
0            0.0
1            1.0
2            0.0
3            1.0
4            1.0
...          ...
30064        0.0
30065        0.0
30066        0.0
30067        0.0
30068        NaN

[30069 rows x 8 columns],        query_id ignore_x         doc_id  rank     score ignore2  ignore_y  \
0           401       Q0    FBIS4-18182     0  3.304330  ok8alx       0.0
1           401       Q0    FBIS3-18916     1  3.059850  ok8alx       0.0
2           401       Q0    FBIS3-18833     2  3.019000  ok8alx       0.0
3           401       Q0     FT911-1796     3  2.903060  ok8alx       0.0
4           401       Q0    FBIS3-59042     4  2.897510  ok8alx       0.0
...         ...      ...            ...   ...       ...     ...       ...
29213       450       Q0  LA123189-0117   985  0.859241  ok8alx       NaN
29214       450       Q0  LA081290-0118   990  0.858340  ok8alx       0.0
29215       450       Q0     FT944-2869   992  0.858093  ok8alx       NaN
29216       450       Q0  LA022289-0054   996  0.856684  ok8alx       0.0
29217       450       Q0  LA091190-0052   997  0.856638  ok8alx       NaN

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            1.0
...          ...
29213        NaN
29214        0.0
29215        NaN
29216        1.0
29217        NaN

[29218 rows x 8 columns],        query_id ignore_x         doc_id  rank   score   ignore2  ignore_y  \
0           401       Q0    FBIS4-31715     0  2.6306  pir9Atd0       0.0
1           401       Q0     FBIS4-9582     1  2.5579  pir9Atd0       0.0
2           401       Q0     FBIS3-8767     2  2.3587  pir9Atd0       0.0
3           401       Q0  LA123089-0101     3  2.3229  pir9Atd0       0.0
4           401       Q0      FT924-107     4  2.3214  pir9Atd0       0.0
...         ...      ...            ...   ...     ...       ...       ...
18285       450       Q0     FT934-4868   978  2.5912  pir9Atd0       0.0
18286       450       Q0    FBIS3-13716   988  2.5854  pir9Atd0       0.0
18287       450       Q0    FBIS4-13825   990  2.5842  pir9Atd0       NaN
18288       450       Q0    FT944-15627   991  2.5839  pir9Atd0       0.0
18289       450       Q0    FBIS4-14359   998  2.5780  pir9Atd0       0.0

       relevance
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
...          ...
18285        0.0
18286        0.0
18287        NaN
18288        0.0
18289        1.0

[18290 rows x 8 columns],      query_id ignore_x         doc_id  rank  score   ignore2  ignore_y  \
0         401       Q0     FT922-9093     1  25000  READWARE         0
1         401       Q0     FT924-4344     2  24999  READWARE         0
2         401       Q0     FT924-5091     3  24998  READWARE         0
3         401       Q0     FT924-5839     4  24997  READWARE         0
4         401       Q0     FT924-7558     5  24996  READWARE         0
..        ...      ...            ...   ...    ...       ...       ...
430       442       Q0  LA110290-0120    53  18994  READWARE         0
431       442       Q0  LA111689-0204    54  18993  READWARE         0
432       442       Q0  LA120990-0074    55  18992  READWARE         0
433       450       Q0    FT944-15512    24  24977  READWARE         0
434       450       Q0    FT944-15625    25  24976  READWARE         0

     relevance
0            1
1            1
2            1
3            1
4            1
..         ...
430          1
431          1
432          1
433          1
434          1

[435 rows x 8 columns],        query_id ignore_x       doc_id  rank      score ignore2  ignore_y  \
0           401       Q0    FT941-230     1  12.573170  Sab8A1       0.0
1           401       Q0   FT924-4470     2  12.210987  Sab8A1       0.0
2           401       Q0   FT941-1403     3  11.885273  Sab8A1       0.0
3           401       Q0   FT911-1796     4  11.673589  Sab8A1       0.0
4           401       Q0   FT941-4640     5  11.659075  Sab8A1       0.0
...         ...      ...          ...   ...        ...     ...       ...
28059       450       Q0  FBIS3-59248   990  11.176571  Sab8A1       NaN
28060       450       Q0  FBIS3-34600   992  11.172478  Sab8A1       0.0
28061       450       Q0  FBIS4-37197   993  11.170953  Sab8A1       0.0
28062       450       Q0  FBIS4-12782   996  11.167779  Sab8A1       0.0
28063       450       Q0   FT911-3549   998  11.164135  Sab8A1       0.0

       relevance
0            0.0
1            1.0
2            0.0
3            0.0
4            0.0
...          ...
28059        NaN
28060        0.0
28061        0.0
28062        1.0
28063        0.0

[28064 rows x 8 columns]]

In [32]:
calculate_metrics_precisions = []
calculate_metrics_avg_precisions = []
temp = 0

for df in merged_df:
    freq = df['relevance'].value_counts()[1]
    temp = temp + freq

for index, df in enumerate(merged_df):
    # group by query_id
    grouped = df.groupby('query_id')

    # calculate precision for top 10
    precisions = grouped.apply(lambda x: np.sum(x['relevance'].head(10)) / 10)
    calculate_metrics_precisions.append(precisions)

    # calculate average precision
    freq = df['relevance'].value_counts()[1]
    t = freq/(index+ 1) 
    avg_precision = t/temp
    calculate_metrics_avg_precisions.append(avg_precision)

calculate_metrics_precisions = []
calculate_metrics_avg_precisions = []
for df in merged_df:
    # group by query_id
    grouped = df.groupby('query_id')

    # calculate precision for top 10
    precisions = grouped.apply(lambda x: np.sum(x['relevance'].head(10)) / 10)
    calculate_metrics_precisions.append(precisions)

    # calculate average precision
    avg_precisions = grouped.apply(lambda x: np.sum(x['relevance'] * np.cumsum(x['relevance']) / np.arange(1, len(x['relevance']) + 1)) / np.sum(x['relevance']))
    calculate_metrics_avg_precisions.append(avg_precisions)

In [33]:
print("calculate_metrics_precisions",calculate_metrics_precisions)
print("calculate_metrics_avg_pr",calculate_metrics_avg_precisions)

calculate_metrics_precisions [query_id
401    0.7
402    1.0
403    1.0
404    0.4
405    0.2
406    0.4
407    0.6
408    0.4
409    0.5
410    1.0
411    0.5
412    0.7
413    0.9
414    0.4
415    1.0
416    0.6
417    0.7
418    0.7
419    0.2
420    0.3
421    0.0
422    0.6
423    0.8
424    0.7
425    0.9
426    0.4
427    0.5
428    0.2
429    0.3
430    0.4
431    0.8
432    0.0
433    0.0
434    0.9
435    0.1
436    0.2
437    0.0
438    0.2
439    0.1
440    0.3
441    0.8
442    0.0
443    0.2
444    0.8
445    0.2
446    0.5
447    0.2
448    0.1
449    0.3
450    0.9
dtype: float64, query_id
401    0.8
402    0.9
403    0.9
404    0.4
405    0.6
406    0.6
407    0.9
408    0.2
409    0.3
410    1.0
411    0.9
412    0.0
413    0.7
414    0.3
415    1.0
416    0.4
417    0.5
418    0.7
419    0.3
420    0.8
421    0.0
422    0.4
423    0.9
424    0.5
425    0.7
426    0.6
427    0.5
428    0.5
429    0.1
430    0.3
431    1.0
432    0.0
433    0.1
434    0.5
435    0.4
436    0.4
437    0.0
438    0.0
439    0.0
440    0.5
441    0.7
442    0.2
443    0.3
444    1.0
445    0.8
446    0.7
447    0.9
448    0.0
449    0.3
450    1.0
dtype: float64, query_id
401    0.4
402    0.6
403    0.9
404    0.2
405    0.3
406    0.5
407    0.9
408    0.2
409    0.1
410    1.0
411    0.6
412    0.9
413    0.1
414    0.4
415    1.0
416    0.3
417    0.1
418    0.8
419    0.1
420    0.9
421    0.0
422    0.5
423    0.9
424    0.4
425    1.0
426    0.0
427    0.4
428    0.2
429    0.3
430    0.3
431    0.9
432    0.0
433    0.2
434    0.6
435    0.6
436    0.8
437    0.0
438    0.3
439    0.2
440    0.7
441    0.7
442    0.0
443    0.5
444    0.9
445    0.8
446    0.9
447    0.0
448    0.0
449    0.5
450    1.0
dtype: float64, query_id
401    0.0
402    0.0
403    0.1
404    0.2
405    0.0
406    0.0
407    0.4
408    0.1
409    0.0
410    0.2
412    0.0
413    0.1
414    0.0
415    0.0
417    0.0
419    0.0
420    0.0
432    0.0
433    0.0
437    0.0
dtype: float64, query_id
401    0.1
402    0.5
403    1.0
404    0.3
405    0.5
406    0.6
407    1.0
408    0.4
409    0.2
410    1.0
411    0.3
412    0.0
413    1.0
414    0.4
415    1.0
416    0.3
417    0.0
418    0.7
419    0.1
420    0.9
421    0.0
422    0.9
423    0.9
424    0.7
425    1.0
426    0.5
427    0.6
428    0.4
429    0.3
430    0.3
431    1.0
432    0.0
433    0.1
434    0.6
435    0.3
436    0.5
437    0.0
438    0.0
439    0.1
440    0.6
441    0.8
442    0.3
443    0.4
444    0.6
445    0.9
446    0.5
447    0.2
448    0.3
449    0.4
450    0.9
dtype: float64, query_id
401    0.1
402    0.5
403    1.0
404    0.3
405    0.5
406    0.5
407    0.8
408    0.3
409    0.3
410    1.0
411    0.4
412    0.9
413    0.8
414    0.4
415    0.8
416    0.7
417    0.0
418    0.6
419    0.2
420    0.6
421    0.3
422    0.8
423    0.7
424    0.7
425    0.9
426    0.1
427    0.6
428    0.3
429    0.5
430    0.4
431    0.5
432    0.0
433    0.0
434    0.9
435    0.3
436    0.5
437    0.0
438    0.4
439    0.1
440    0.5
441    0.6
442    0.0
443    0.5
444    0.4
445    0.8
446    0.8
447    0.0
448    0.2
449    0.3
450    1.0
dtype: float64, query_id
401    0.0
402    0.5
403    1.0
404    0.3
405    0.4
406    0.4
407    0.7
408    0.4
409    0.1
410    1.0
411    0.4
412    0.6
413    0.4
414    0.4
415    1.0
416    0.4
417    0.7
418    0.6
419    0.4
420    0.9
421    0.0
422    0.8
423    0.9
424    0.4
425    1.0
426    0.6
427    0.4
428    0.4
429    0.3
430    0.3
431    0.3
432    0.1
433    0.2
434    1.0
435    0.3
436    0.5
437    0.0
438    0.5
439    0.2
440    0.4
441    0.7
442    0.1
443    0.5
444    0.8
445    0.8
446    0.6
447    0.3
448    0.2
449    0.4
450    1.0
dtype: float64, query_id
401    0.1
402    0.3
403    0.8
404    0.2
405    0.1
406    0.3
407    0.7
408    0.2
409    0.3
410    1.0
411    0.5
412    0.6
413    0.0
414    0.5
415    1.0
416    0.3
417    0.3
418    0.6
419    0.2
420    0.7
421    0.0
422    0.9
423    0.9
424    0.0
425    1.0
426    0.3
427    0.5
428    0.6
429    0.3
430    0.3
431    0.5
432    0.0
433    0.0
434    0.7
435    0.5
436    0.5
437    0.0
438    0.3
439    0.1
440    0.4
441    0.8
442    0.0
443    0.4
444    0.8
445    0.8
446    0.8
447    0.3
448    0.0
449    0.3
450    0.9
dtype: float64, query_id
401    0.0
402    0.1
403    0.0
404    0.0
405    0.0
406    0.0
407    0.0
408    0.0
409    0.0
410    0.0
412    0.0
413    0.0
414    0.0
415    0.0
417    0.0
419    0.0
dtype: float64, query_id
401    0.1
402    0.7
403    0.9
404    0.1
405    0.3
406    0.3
407    0.6
408    0.4
409    0.2
410    1.0
411    0.4
412    0.2
413    0.7
414    0.2
415    0.8
416    0.4
417    0.3
418    0.9
419    0.2
420    0.4
421    0.0
422    0.3
423    0.8
424    0.1
425    0.8
426    0.4
427    0.2
428    0.2
429    0.4
430    0.3
431    0.7
432    0.0
433    0.2
434    0.7
435    0.1
436    0.3
437    0.1
438    0.1
439    0.2
440    0.1
441    0.8
442    0.1
443    0.3
444    0.9
445    0.4
446    0.1
447    1.0
448    0.2
449    0.2
450    1.0
dtype: float64, query_id
401    0.3
402    0.7
403    0.9
404    0.4
405    0.2
406    0.4
407    0.7
408    0.4
409    0.4
410    1.0
411    0.5
412    0.8
413    0.4
414    0.4
415    0.9
416    0.5
417    0.6
418    0.7
419    0.3
420    0.9
421    0.0
422    0.5
423    0.9
424    0.4
425    1.0
426    0.1
427    0.7
428    0.5
429    0.3
430    0.4
431    0.9
432    0.0
433    0.2
434    0.9
435    0.2
436    0.5
437    0.1
438    0.8
439    0.1
440    0.3
441    0.7
442    0.2
443    0.5
444    1.0
445    0.8
446    0.5
447    0.4
448    0.1
449    0.2
450    0.7
dtype: float64, query_id
401    0.1
402    1.0
403    1.0
404    0.6
405    0.3
406    0.4
407    0.9
408    0.6
409    0.2
410    1.0
411    0.7
412    0.9
413    0.8
414    0.4
415    1.0
416    0.7
417    0.6
418    1.0
419    0.1
420    0.9
421    0.1
422    1.0
423    0.9
424    0.6
425    1.0
426    0.5
427    0.5
428    0.3
429    0.4
430    0.3
431    0.8
432    0.0
433    0.2
434    0.9
435    0.5
436    0.1
437    0.1
438    0.5
439    0.2
440    0.6
441    0.6
442    0.3
443    0.5
444    0.8
445    0.5
446    0.7
447    0.6
448    0.2
449    0.7
450    0.8
dtype: float64, query_id
401    0.0
402    0.1
403    0.9
404    0.5
405    0.4
406    0.6
407    0.8
408    0.4
409    0.1
410    1.0
411    0.5
412    0.7
413    0.3
414    0.3
415    1.0
416    0.4
417    0.4
418    0.6
419    0.1
420    0.8
421    0.1
422    1.0
423    0.8
424    0.2
425    0.6
426    0.8
427    0.5
428    0.0
429    0.2
430    0.3
431    0.6
432    0.0
433    0.0
434    0.8
435    0.4
436    0.9
437    0.0
438    0.2
439    0.2
440    0.8
441    0.7
442    0.2
443    0.3
444    1.0
445    0.7
446    0.8
447    1.0
448    0.2
449    0.4
450    0.8
dtype: float64, query_id
401    0.8
402    0.6
403    0.2
404    0.2
405    0.7
406    0.3
407    0.8
408    1.0
409    0.3
410    0.6
411    0.1
412    0.8
413    0.0
414    0.1
415    0.5
418    0.3
420    0.0
421    0.2
424    0.3
425    1.0
426    0.9
431    0.6
434    0.6
436    0.8
438    0.7
439    0.2
440    0.0
442    0.4
450    0.2
dtype: float64, query_id
401    0.2
402    0.5
403    0.6
404    0.2
405    0.3
406    0.5
407    0.8
408    0.3
409    0.1
410    1.0
411    0.4
412    0.9
413    0.0
414    0.4
415    1.0
416    0.5
417    0.5
418    0.7
419    0.1
420    0.8
421    0.2
422    0.8
423    0.7
424    0.2
425    0.9
426    0.4
427    0.4
428    0.4
429    0.4
430    0.4
431    0.7
432    0.0
433    0.1
434    0.8
435    0.4
436    0.4
437    0.0
438    0.7
439    0.2
440    0.9
441    0.7
442    0.0
443    0.5
444    0.8
445    0.7
446    0.8
447    0.0
448    0.0
449    0.6
450    1.0
dtype: float64]
calculate_metrics_avg_pr [0.0497388144446968, 0.039015606242496996, 0.0337540421574035, 9.733623179001331e-05, 0.019240128483825964, 0.009776883726463558, 0.014350141601041961, 0.008646701924012849, 0.0001297816423866844, 0.00736510820544434, 0.009028672894219112, 0.00802483155424332, 0.005365971752526374, 0.0006280504479784192, 0.006473940927722441]

In [34]:
# assuming the lists have the same length
results_df = pd.concat([pd.DataFrame(calculate_metrics_precisions).T],  axis=1)
results_df.columns = ["Precision@10_" + str(i) for i in range(15)] 

# calculate the overall precision@10
overall_precision = results_df.mean(axis=1)

# add the new column to the DataFrame
results_df['Overall Precision@10'] = overall_precision

# calculate the overall row precision@10
overall_precision_row = results_df.mean(axis=0)

# add the new row to the DataFrame
results_df.loc["Overall"] = overall_precision_row

# show the new table
print(results_df)
results_df.to_csv('resultsT10.csv')

          Precision@10_0  Precision@10_1  Precision@10_2  Precision@10_3  \
query_id
401                0.700            0.80           0.400           0.000
402                1.000            0.90           0.600           0.000
403                1.000            0.90           0.900           0.100
404                0.400            0.40           0.200           0.200
405                0.200            0.60           0.300           0.000
406                0.400            0.60           0.500           0.000
407                0.600            0.90           0.900           0.400
408                0.400            0.20           0.200           0.100
409                0.500            0.30           0.100           0.000
410                1.000            1.00           1.000           0.200
411                0.500            0.90           0.600             NaN
412                0.700            0.00           0.900           0.000
413                0.900            0.70           0.100           0.100
414                0.400            0.30           0.400           0.000
415                1.000            1.00           1.000           0.000
416                0.600            0.40           0.300             NaN
417                0.700            0.50           0.100           0.000
418                0.700            0.70           0.800             NaN
419                0.200            0.30           0.100           0.000
420                0.300            0.80           0.900           0.000
421                0.000            0.00           0.000             NaN
422                0.600            0.40           0.500             NaN
423                0.800            0.90           0.900             NaN
424                0.700            0.50           0.400             NaN
425                0.900            0.70           1.000             NaN
426                0.400            0.60           0.000             NaN
427                0.500            0.50           0.400             NaN
428                0.200            0.50           0.200             NaN
429                0.300            0.10           0.300             NaN
430                0.400            0.30           0.300             NaN
431                0.800            1.00           0.900             NaN
432                0.000            0.00           0.000           0.000
433                0.000            0.10           0.200           0.000
434                0.900            0.50           0.600             NaN
435                0.100            0.40           0.600             NaN
436                0.200            0.40           0.800             NaN
437                0.000            0.00           0.000           0.000
438                0.200            0.00           0.300             NaN
439                0.100            0.00           0.200             NaN
440                0.300            0.50           0.700             NaN
441                0.800            0.70           0.700             NaN
442                0.000            0.20           0.000             NaN
443                0.200            0.30           0.500             NaN
444                0.800            1.00           0.900             NaN
445                0.200            0.80           0.800             NaN
446                0.500            0.70           0.900             NaN
447                0.200            0.90           0.000             NaN
448                0.100            0.00           0.000             NaN
449                0.300            0.30           0.500             NaN
450                0.900            1.00           1.000             NaN
Overall            0.472            0.51           0.478           0.055

          Precision@10_4  Precision@10_5  Precision@10_6  Precision@10_7  \
query_id
401                0.100           0.100           0.000           0.100
402                0.500           0.500           0.500           0.300
403                1.000           1.000           1.000           0.800
404                0.300           0.300           0.300           0.200
405                0.500           0.500           0.400           0.100
406                0.600           0.500           0.400           0.300
407                1.000           0.800           0.700           0.700
408                0.400           0.300           0.400           0.200
409                0.200           0.300           0.100           0.300
410                1.000           1.000           1.000           1.000
411                0.300           0.400           0.400           0.500
412                0.000           0.900           0.600           0.600
413                1.000           0.800           0.400           0.000
414                0.400           0.400           0.400           0.500
415                1.000           0.800           1.000           1.000
416                0.300           0.700           0.400           0.300
417                0.000           0.000           0.700           0.300
418                0.700           0.600           0.600           0.600
419                0.100           0.200           0.400           0.200
420                0.900           0.600           0.900           0.700
421                0.000           0.300           0.000           0.000
422                0.900           0.800           0.800           0.900
423                0.900           0.700           0.900           0.900
424                0.700           0.700           0.400           0.000
425                1.000           0.900           1.000           1.000
426                0.500           0.100           0.600           0.300
427                0.600           0.600           0.400           0.500
428                0.400           0.300           0.400           0.600
429                0.300           0.500           0.300           0.300
430                0.300           0.400           0.300           0.300
431                1.000           0.500           0.300           0.500
432                0.000           0.000           0.100           0.000
433                0.100           0.000           0.200           0.000
434                0.600           0.900           1.000           0.700
435                0.300           0.300           0.300           0.500
436                0.500           0.500           0.500           0.500
437                0.000           0.000           0.000           0.000
438                0.000           0.400           0.500           0.300
439                0.100           0.100           0.200           0.100
440                0.600           0.500           0.400           0.400
441                0.800           0.600           0.700           0.800
442                0.300           0.000           0.100           0.000
443                0.400           0.500           0.500           0.400
444                0.600           0.400           0.800           0.800
445                0.900           0.800           0.800           0.800
446                0.500           0.800           0.600           0.800
447                0.200           0.000           0.300           0.300
448                0.300           0.200           0.200           0.000
449                0.400           0.300           0.400           0.300
450                0.900           1.000           1.000           0.900
Overall            0.488           0.476           0.492           0.432

          Precision@10_8  Precision@10_9  Precision@10_10  Precision@10_11  \
query_id
401              0.00000           0.100            0.300            0.100
402              0.10000           0.700            0.700            1.000
403              0.00000           0.900            0.900            1.000
404              0.00000           0.100            0.400            0.600
405              0.00000           0.300            0.200            0.300
406              0.00000           0.300            0.400            0.400
407              0.00000           0.600            0.700            0.900
408              0.00000           0.400            0.400            0.600
409              0.00000           0.200            0.400            0.200
410              0.00000           1.000            1.000            1.000
411                  NaN           0.400            0.500            0.700
412              0.00000           0.200            0.800            0.900
413              0.00000           0.700            0.400            0.800
414              0.00000           0.200            0.400            0.400
415              0.00000           0.800            0.900            1.000
416                  NaN           0.400            0.500            0.700
417              0.00000           0.300            0.600            0.600
418                  NaN           0.900            0.700            1.000
419              0.00000           0.200            0.300            0.100
420                  NaN           0.400            0.900            0.900
421                  NaN           0.000            0.000            0.100
422                  NaN           0.300            0.500            1.000
423                  NaN           0.800            0.900            0.900
424                  NaN           0.100            0.400            0.600
425                  NaN           0.800            1.000            1.000
426                  NaN           0.400            0.100            0.500
427                  NaN           0.200            0.700            0.500
428                  NaN           0.200            0.500            0.300
429                  NaN           0.400            0.300            0.400
430                  NaN           0.300            0.400            0.300
431                  NaN           0.700            0.900            0.800
432                  NaN           0.000            0.000            0.000
433                  NaN           0.200            0.200            0.200
434                  NaN           0.700            0.900            0.900
435                  NaN           0.100            0.200            0.500
436                  NaN           0.300            0.500            0.100
437                  NaN           0.100            0.100            0.100
438                  NaN           0.100            0.800            0.500
439                  NaN           0.200            0.100            0.200
440                  NaN           0.100            0.300            0.600
441                  NaN           0.800            0.700            0.600
442                  NaN           0.100            0.200            0.300
443                  NaN           0.300            0.500            0.500
444                  NaN           0.900            1.000            0.800
445                  NaN           0.400            0.800            0.500
446                  NaN           0.100            0.500            0.700
447                  NaN           1.000            0.400            0.600
448                  NaN           0.200            0.100            0.200
449                  NaN           0.200            0.200            0.700
450                  NaN           1.000            0.700            0.800
Overall          0.00625           0.402            0.506            0.568

          Precision@10_12  Precision@10_13  Precision@10_14  \
query_id
401                 0.000         0.800000            0.200
402                 0.100         0.600000            0.500
403                 0.900         0.200000            0.600
404                 0.500         0.200000            0.200
405                 0.400         0.700000            0.300
406                 0.600         0.300000            0.500
407                 0.800         0.800000            0.800
408                 0.400         1.000000            0.300
409                 0.100         0.300000            0.100
410                 1.000         0.600000            1.000
411                 0.500         0.100000            0.400
412                 0.700         0.800000            0.900
413                 0.300         0.000000            0.000
414                 0.300         0.100000            0.400
415                 1.000         0.500000            1.000
416                 0.400              NaN            0.500
417                 0.400              NaN            0.500
418                 0.600         0.300000            0.700
419                 0.100              NaN            0.100
420                 0.800         0.000000            0.800
421                 0.100         0.200000            0.200
422                 1.000              NaN            0.800
423                 0.800              NaN            0.700
424                 0.200         0.300000            0.200
425                 0.600         1.000000            0.900
426                 0.800         0.900000            0.400
427                 0.500              NaN            0.400
428                 0.000              NaN            0.400
429                 0.200              NaN            0.400
430                 0.300              NaN            0.400
431                 0.600         0.600000            0.700
432                 0.000              NaN            0.000
433                 0.000              NaN            0.100
434                 0.800         0.600000            0.800
435                 0.400              NaN            0.400
436                 0.900         0.800000            0.400
437                 0.000              NaN            0.000
438                 0.200         0.700000            0.700
439                 0.200         0.200000            0.200
440                 0.800         0.000000            0.900
441                 0.700              NaN            0.700
442                 0.200         0.400000            0.000
443                 0.300              NaN            0.500
444                 1.000              NaN            0.800
445                 0.700              NaN            0.700
446                 0.800              NaN            0.800
447                 1.000              NaN            0.000
448                 0.200              NaN            0.000
449                 0.400              NaN            0.600
450                 0.800         0.200000            1.000
Overall             0.488         0.455172            0.478

          Overall Precision@10
query_id
401                   0.246667
402                   0.533333
403                   0.746667
404                   0.286667
405                   0.320000
406                   0.386667
407                   0.706667
408                   0.353333
409                   0.206667
410                   0.853333
411                   0.476923
412                   0.533333
413                   0.413333
414                   0.306667
415                   0.800000
416                   0.458333
417                   0.335714
418                   0.684615
419                   0.164286
420                   0.635714
421                   0.069231
422                   0.708333
423                   0.841667
424                   0.400000
425                   0.907692
426                   0.430769
427                   0.483333
428                   0.333333
429                   0.316667
430                   0.333333
431                   0.715385
432                   0.007692
433                   0.100000
434                   0.761538
435                   0.341667
436                   0.492308
437                   0.023077
438                   0.361538
439                   0.146154
440                   0.469231
441                   0.716667
442                   0.138462
443                   0.408333
444                   0.816667
445                   0.683333
446                   0.641667
447                   0.408333
448                   0.125000
449                   0.383333
450                   0.861538
Overall               0.457504

In [35]:
results_df = pd.concat([pd.DataFrame(calculate_metrics_avg_precisions).T],  axis=1)
results_df.columns = ["MAP_" + str(i) for i in range(15)] 


# calculate the overall precision@10
overall_precision = results_df.mean(axis=1)

# add the new column to the DataFrame
results_df['Overall Precision@10'] = overall_precision

# calculate the overall row precision@10
overall_precision_row = results_df.mean(axis=0)

# add the new row to the DataFrame
results_df.loc["Overall"] = overall_precision_row

# show the new table
print(results_df)
results_df.to_csv('resultsMAP.csv')

            MAP_0     MAP_1     MAP_2     MAP_3    MAP_4     MAP_5    MAP_6  \
0        0.049739  0.039016  0.033754  0.000097  0.01924  0.009777  0.01435
Overall  0.049739  0.039016  0.033754  0.000097  0.01924  0.009777  0.01435

            MAP_7    MAP_8     MAP_9    MAP_10    MAP_11    MAP_12    MAP_13  \
0        0.008647  0.00013  0.007365  0.009029  0.008025  0.005366  0.000628
Overall  0.008647  0.00013  0.007365  0.009029  0.008025  0.005366  0.000628

           MAP_14  Overall Precision@10
0        0.006474              0.014109
Overall  0.006474              0.014109